* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-btn {
    background-image: url(../images/noahs_ark_in_igdir.jpg);
    background-size: cover;
    border: none;
    height: 3.5rem;
    width: 7rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: darkblue;
}

body {
    background-image: url(../images/rainbow_spectrum_weather_phenomenon.jpg);
    background-size: cover;
    border: none;
    height: 1fr;
    width: 1fr;
}